<div class="full-page blue login-page"  data-color="blue">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7 mx-auto">
                    <form ng-submit="loginWeb()">
                        <div class="card card-login">
                            <div class="card-header text-center">
                                <h4 class="card-title">CHAT SR LUIS</h4>
                            </div>
                            <div class="card-content">


                                <h5 class="text-center">Entrar no CHAT </h5>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </div>
                                        <input id="username"
                                               type="text"
                                                ng-model="user.email"
                                               class="form-control"
                                               placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </div>
                                        <input id="pwd"
                                               type="password"
                                               class="form-control"
                                               ng-model="user.password"
                                               placeholder="Password">
                                    </div>
                                </div>

                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-wd btn-lg">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

