
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <h2 class="text-center">WebSocket Login</h2>
                            <div class="col-xs-6">
                                <a href="#"  class="active" id="login-form-link">Entrar</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#"  id="register-form-link">Cadastrar</a>
                            </div>
                        </div>
                        <hr>
                    </div>
  	
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="loginWeb()" id="login-form" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" ng-model="user.email" name="email" placeholder="Usuario" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Senha" required="required">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input name="login-submit" ng-click="loginWeb()" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Logar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Esqueceu a Senha?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
